<launch>
    <node
        pkg="speech_recognition"
        type="llm_command_classifier.py"
        name="llm_command_classifier"
        output="screen">

        <param name="input_topic" value="/voice/final_text_json" />
        <param name="output_topic" value="/llm_command_classification" />

        <!-- Ollama Docker should expose port 11434 to the host -->
        <param name="ollama_url" value="http://127.0.0.1:11434/api/chat" />

        <!-- Change this if you use qwen2.5:0.5b or qwen2.5:1.5b or llama3.2:1b or -->
        <param name="model" value="qwen2.5:1.5b" />

    </node>
</launch>
