<launch>
    <node
        pkg="speech_recognition"
        type="llm_gpt_oss_function_classifier.py"
        name="llm_gpt_oss_function_classifier"
        output="screen">

        <param name="input_topic" value="/voice/final_text_json" />
        <param name="output_topic" value="/llm_command_classification" />

        <param name="ollama_url" value="http://127.0.0.1:11434/api/chat" />
        <param name="model" value="gpt-oss:20b" />

    </node>
</launch>